
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

body{
    margin:0 auto;
    padding: 0 auto;
    font-family: 'Raleway', sans-serif;
}
nav{
    ul{
        li{
            a{
                color: #000000 !important;
                font-weight: 600;
                font-size: 18px;
            }
          .btn{
               background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
               // margin:10px;
               margin-left: 20px;
               font-size: 16px !important;
                text-align: center;
                //text-transform: uppercase;
                border: none;
                color:white !important;
                font-weight: 600;
                border-radius: 50px;
                padding: 10px 30px !important;
               // display: block;
          }
        }
    }
}
header{
    opacity: 1;
    background-color: #000000a4;
    background-image: url(images/hero.jpg);
    background-blend-mode: overlay;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;

    .container{
        height:100vh;
        .header_content{
            h1{
                font-size: 50px;
                font-weight: 700;
                color:white;
            }
            @media screen and (max-width: 480px) {
               h1{
                   margin-top: 60px;
                font-size: 30px;
                font-weight: 600;
            } 
             ul{
                
                li{
                       
                    
                        font-style: 16px;
                        font-weight: 400;
                        line-height: 1.5;
                        text-indent: 5px;  
                }
            }

}
            ul{
                list-style: none;
                margin-left: 0;
                li{
                        text-decoration:none;
                        color: white;
                        font-style: 18px;
                        font-weight: 500;
                }
            }
            button{
                background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
                margin:10px;
                padding: 15px 45px;
                text-align: center;
                text-transform: uppercase;
                border: none;
                color:white;
                border-radius: 50px;
                display: block;
            }
            button:hover{
                background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
            }
        }
    }

}
.patner{
     
    background-color: #e4e4e4;
    .row{
     padding: 10px 20px;
       
        img{
           
            width: 100px;
           height:50px;
            text-align: center;
           
        }
    }
}
.Courses{
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23fff8f8' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23fff0f0' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23ffe9e9' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ffe1e1' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23ffdada' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23fce1e1' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23f9e7e9' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23f6eef0' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23f2f4f8' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23eefbff' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    .container{
        .content{
            text-align: center;
           padding-top: 100px;
            margin-bottom: 50px;

            h2{
                font-size: 40px;
                color: #000000;
                font-weight: 800;
            }
        }
        .card-group{
           padding-bottom: 100px;
            .card{
                background-image: linear-gradient(180deg, #A3321F , #550028);
                border: none;
                border-radius: 20px;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                margin: 10px 20px;
                padding: 30px 10px;
                h5{
                    font-size: 30px;
                    font-weight: 600;
                    color: white;
                }
                p{
                    font-size: 16px;
                    color: white;
                }
            }
            .card:hover{
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }
            text-align: center;
            img{
                width:100px;
            }
        }
       
    }

}
.learns{
    background-color: #a1a0aa;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(3,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23a1a0aa'/%3E%3Cstop offset='1' stop-color='%23e0fff2'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23eee3ff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23eee3ff' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23eee3ff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23eee3ff' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
padding: 50px 0;    
.container{
    text-align: center;
    h2{
        color: #000000;
        font-weight: 800;
        font-size: 40px;
    }
    .card-group{
        text-align: center;
        .card{
            border-radius: 30px;
            padding: 20px 10px;
            margin: 30px 20px;
            border: none;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            img{
                width:300px;
            }
            .card-body{
                text-align: left;
                color: #C7451C;
                h2{
                    color: #C7451C;
                    font-size: 40px;
                    font-weight: 700 ;
                    text-align: left;
                    
                }
                h3{
                    color: #C7451C;
                    font-size: 24px;
                    font-weight: 600;
                }
                p{
                    font-size: 16px;color: #000000;
                    font-weight: 600;
                }
                ul{
                    list-style: none;
                    li{
                        color: black;
                        font-weight: 500;
                        font-size: 14px;
                        i{
                            color: #C7451C;
                        }
                    }
                }
            }
              
        }
        .card:hover{
              box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.2);
        }
    }
}
}
#count{
    background-image: linear-gradient(180deg, #C7451C, #450028);
    .container{
        .row{
            padding: 20px 0;
            @import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
            h3{
                color: white;
                font-family: 'Teko', sans-serif;
                font-size: 4rem;
            }
            p{
                color: white;
                line-height: .5;
                font-size: 16px;
            }
        }
    }
 
}
   .video{
      background-color: #aaaaaa;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23aaaaaa'/%3E%3Cstop offset='1' stop-color='%23bafffa'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23f5f8ff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23f5f8ff' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23f5f8ff' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23f5f8ff' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
        .container{
            .row{
                .col-md-6{
                       .content{
                           padding: 20px;
                           margin-top: 70px;
                           margin-bottom: 70px;
            h2{
                font-size: 45px;
                font-weight: 700;
                color: black;
                
                    }
                    p{
                        font-size: 18px;
                        text-align: justify;
                        font-weight: 500;
                        line-height: 1.5;
                        margin-top: 30px;
                        margin-bottom: 50px;
                    }
            
                        a{
                            text-decoration: none;
                            color: white;
                            background-image: linear-gradient(90degs, #cc0000, red);
                           // border: 1px solid;
                            padding: 15px 45px;
                            border-radius: 50px;
                            font-weight: 600;
                            margin-top: 20px;
                        
                        }
                    
                 }
                }
            }
        }
    }
    .review{
        background-color: rgb(224, 224, 224);
        padding: 100px 0;
        text-align: center;
        .container{ 
            h2{
                font-size: 50px;
                font-weight: 800;
                color: black;
            }
        }
          .card-group{
              
        text-align: center;
        .card{
           margin-bottom: 10px;
            border-radius: 30px;
            padding: 10px 10px;
            margin: 030px 20px;
            border: none;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            img{
               margin-left: 20px;
                width:100px;
                border-radius: 50px !important;
            }
            .card-body{
                text-align: left;
                color: #C7451C;
                h2{
                    color: #000000;
                    font-size: 30px;
                    font-weight: 600 ;
                    text-align: left;
                }
                h3{
                    color: #000000;
                    font-size: 24px;
                    font-weight: 600;
                }
             
              
             
            }
        }
        .card:hover{
              box-shadow: 0 4px 4px 2px rgba(0,0,0,0.2);
        }
             p{

                    font-size: 16px;
                    color: #000000;
                    font-weight: 500;
                   line-height: 1.5;
                   text-align: justify;
                   padding: 0 20px;
                   
                }
    }
    }
.contact{
    height:80%;
    opacity: 1;
    background:rgba(0, 0, 0, 0.651);
    background-image: url(images/contact.png);
    background-blend-mode: overlay;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    //margin-top: 100px;
  
    overflow:hidden;
    

  
    .container{
        .row{
            margin-top: 70px;
            h2{
            font-size: 40px;
            font-weight: 700;
            color:white;
        }
        p{
            color: white;
            font-size: 16px;
            font-weight: 500px;
        }
        .contact-form{
            input{
                border-radius: 50px;
                padding: 10px 20px;
                margin: 10px 10px;
                color: black;
                &:focus{
                   // border: 1px solid #ffffff!important;
                    box-shadow: none;
                   border: none !important;
                }
            }
            textarea{
                color:#000000;
                padding: 15px;
                border-radius: 20px;
                margin: 20px 0 ;
            }
           ::placeholder{
               color: orange;
           }
        }
        .form-check{
           
            color: white;
            input{
                margin-top: 30px;
                border: 1px solid white;
                box-shadow: none !important;
              
            }
        }
        button{
                background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
                margin:10px;
                padding: 15px 45px;
                //text-align: center;
                text-transform: uppercase;
                border: none;
                color:white;
                border-radius: 50px;
               // display: block;
            }
            button:hover{
               // background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
            }
        }
    }
}
footer{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#C7451C), to(#450028));
    color: #ffffff;
    padding-top: 60px;
    .footer_top{
        .row{
          p{
              text-align: justify;
              font-size: 16px;
              font-weight: 400;
          }
          h3{
              font-size:18px;
              font-weight: 600;
              line-height: 2;
          }
         
         .input-group {
                        border: 4px solid white !important;
                        border-radius: 30px;
                        background-color: #fff;
                        input{
                            background-color: rgba(255, 255, 255, 0);
                            border: none!important;
                        }
                    
                    }
            
                 }
             }
             .footer_bottom{
                 border-top: 1px solid #fff;
                 margin-top: 30px;
                 padding-top: 30px;
                 padding-bottom: 50px;
                 p{
                     font-size: 18px;
                 }
                 i{
                color: #ffffff ;
                //font-weight: 600;
                   font-size: 36px;
                  // background-color: rgb(255, 255, 255);
                  
                   margin-left: 20px;
                   border-radius: 50px;
                 }
             }
            }


            @media (min-width:769px) and (max-width:1024px){
             .learns .container .card-group .card .card-body h2 {
        font-size: 30px;
}
.learns .container .card-group .card .card-body h3 {

  font-size: 18px;

}
.learns .container .card-group .card .card-body p {
  font-size: 14px;

}
.learns .container .card-group .card .card-body ul {
  margin-left: 0;
}


}
       
 @media screen and (max-width: 768px) {
     .patner{
         display:none;
     }
     .Courses .container .content h2 {
    font-size: 30px;
    
}
.iframe{
    margin-top: 20px;
}
.content{
    margin-top: 20px;
}
          
      }
